/* created at 5:39 AM at 11/04/2022*/

.display___block{
    display: block;
}
.display____inline___block{
    display: inline-block;
}
.display___none{
    display: none;
}
@media (max-width: 991.98px) { 
    .display___md___none{
        display: none;
    }
 }

.rn___btn{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    border: 2px solid #dddd;
    margin: 0 10px;
}
button:disabled.rn___btn,
button[disabled].rn___btn{
    border: 1px solid #999999;
    cursor: not-allowed;
}
button:disabled.rn___btn,
button[disabled].rn___btn svg{
    stroke:  #ddd;
 
}
.rn___tabs___container{
    /* border-bottom: 4px solid #ddd; */

    margin: 0 25px;
    position: relative;
    display: flex;
}
.rn___tabs{
    display: flex;
    overflow: auto;
}
.rn___tabs.hide___rn___tabs___scroll{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.rn___tabs.hide___rn___tabs___scroll::-webkit-scrollbar {
    display: none;
}
.rn___tab{
    padding: 10px 40px;
    white-space: nowrap;
}
.rn___tab___selected{
    background-color: #fd9e02;
    border-radius: 40px;
    color: #fff;
}
.rn___right___nav___btn{

}
.rn___left___nav___btn{

}

