/* created at 5:39 AM at 11/04/2022*/

.display___block{
    display: block;
}
.display____inline___block{
    display: inline-block;
}
.display___none{
    display: none;
}
@media (max-width: 991.98px) { 
    .display___md___none{
        display: none;
    }
 }


.rn___tabs___container{
    padding: 0 25px;
    position: relative;
    display: flex;
}
.rn___tabs{
    background: red;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.rn___tabs::-webkit-scrollbar {
    display: none;
}
.rn___tab{
    padding: 10px 40px;
    white-space: nowrap;
    cursor: pointer;
}

.rn___right___nav___btn{

}
.rn___left___nav___btn{

}

